In [1]:
# Dependencies; add others as needed
from config import username, password
import pycountry # please install this dependency
import country_converter as coco # please install this dependency
import pandas as pd
from sqlalchemy import create_engine

# Extract Data

### Extract Coronavirus (nCOV19) data

In [2]:
# Reading Coronavirus data downloaded from Kaggle
nCov19_df = pd.read_csv('./Resources/2019_nCoV_data.csv')

# Check dataframe
nCov19_df.head()

,Sno,Date,Province/State,Country,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020 12:00:00,Anhui,China,01/22/2020 12:00:00,1.0,0.0,0.0
1,2,01/22/2020 12:00:00,Beijing,China,01/22/2020 12:00:00,14.0,0.0,0.0
2,3,01/22/2020 12:00:00,Chongqing,China,01/22/2020 12:00:00,6.0,0.0,0.0
3,4,01/22/2020 12:00:00,Fujian,China,01/22/2020 12:00:00,1.0,0.0,0.0
4,5,01/22/2020 12:00:00,Gansu,China,01/22/2020 12:00:00,0.0,0.0,0.0

In [3]:
# Check data type
nCov19_df.dtypes

Sno                 int64
Date               object
Province/State     object
Country            object
Last Update        object
Confirmed         float64
Deaths            float64
Recovered         float64
dtype: object

In [4]:
# Getting a summary
nCov19_df.describe()

               Sno     Confirmed       Deaths    Recovered
count  1719.000000   1719.000000  1719.000000  1719.000000
mean    860.000000    454.596859    10.441536    44.361838
std     496.376873   3712.529032   106.638286   351.078713
min       1.000000      0.000000     0.000000     0.000000
25%     430.500000      2.000000     0.000000     0.000000
50%     860.000000     12.000000     0.000000     0.000000
75%    1289.500000    109.000000     0.000000     7.000000
max    1719.000000  59989.000000  1789.000000  7862.000000

In [5]:
# Checking number of rows, grouped by country
country_ncov19_df = nCov19_df.groupby('Country')
country_ncov19_df['Sno'].count()

Country
Australia                84
Belgium                  14
Brazil                    1
Cambodia                 22
Canada                   59
China                    34
Egypt                     4
Finland                  20
France                   25
Germany                  22
Hong Kong                26
India                    19
Italy                    19
Ivory Coast               1
Japan                    27
Macau                    26
Mainland China          801
Malaysia                 25
Mexico                    1
Nepal                    24
Others                   11
Philippines              20
Russia                   18
Singapore                26
South Korea              27
Spain                    18
Sri Lanka                22
Sweden                   18
Taiwan                   26
Thailand                 27
UK                       18
US                      188
United Arab Emirates     20
Vietnam                  26
Name: Sno, dtype: int64

### Extract SARS Outbreak data

In [6]:
# Reading SARS outbreak data downloaded from Kaggle
original_sars03_df = pd.read_csv('./Resources/sars_2003_complete_dataset_clean.csv')

sars03_df = original_sars03_df.rename(columns={'Country':'country',
                                               'Cumulative number of case(s)':'confirmed_sars', 
                                               'Number of deaths':'death_sars', 
                                               'Number recovered': 'recovered_sars'}).copy()
                                 
# Check dataframe
sars03_df.head()

,Date,country,confirmed_sars,death_sars,recovered_sars
0,2003-03-17,Germany,1,0,0
1,2003-03-17,Canada,8,2,0
2,2003-03-17,Singapore,20,0,0
3,2003-03-17,"Hong Kong SAR, China",95,1,0
4,2003-03-17,Switzerland,2,0,0

# Transform Data

### Getting a standardized country list

In [7]:
### Importing country list using pycountry and creating a dataframe for later use
pycntrylst = list(pycountry.countries)
name = []
common_name = []
official_name = []
    
for i in pycntrylst:
    name.append(i.name)
    if hasattr(i, "common_name"):
        common_name.append(i.common_name)
    else:
        common_name.append("")
    if hasattr(i, "official_name"):
        official_name.append(i.official_name)
    else:
        official_name.append("")

# Check list
name

['Aruba',
 'Afghanistan',
 'Angola',
 'Anguilla',
 'Åland Islands',
 'Albania',
 'Andorra',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'American Samoa',
 'Antarctica',
 'French Southern Territories',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Bonaire, Sint Eustatius and Saba',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas',
 'Bosnia and Herzegovina',
 'Saint Barthélemy',
 'Belarus',
 'Belize',
 'Bermuda',
 'Bolivia, Plurinational State of',
 'Brazil',
 'Barbados',
 'Brunei Darussalam',
 'Bhutan',
 'Bouvet Island',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Cocos (Keeling) Islands',
 'Switzerland',
 'Chile',
 'China',
 "Côte d'Ivoire",
 'Cameroon',
 'Congo, The Democratic Republic of the',
 'Congo',
 'Cook Islands',
 'Colombia',
 'Comoros',
 'Cabo Verde',
 'Costa Rica',
 'Cuba',
 'Curaçao',
 'Christmas Island',
 'Cayman Islands',
 'Cyprus',
 'Czechia',
 'Germany',
 'Djibouti',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'Ecuador',
 'Egypt',
 'Eritrea',
 'Western Sahara',
 'Spain',
 'Estonia',
 'Ethiopia',
 'Finland',
 'Fiji',
 'Falkland Islands (Malvinas)',
 'France',
 'Faroe Islands',
 'Micronesia, Federated States of',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Guernsey',
 'Ghana',
 'Gibraltar',
 'Guinea',
 'Guadeloupe',
 'Gambia',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Greenland',
 'Guatemala',
 'French Guiana',
 'Guam',
 'Guyana',
 'Hong Kong',
 'Heard Island and McDonald Islands',
 'Honduras',
 'Croatia',
 'Haiti',
 'Hungary',
 'Indonesia',
 'Isle of Man',
 'India',
 'British Indian Ocean Territory',
 'Ireland',
 'Iran, Islamic Republic of',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jersey',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyzstan',
 'Cambodia',
 'Kiribati',
 'Saint Kitts and Nevis',
 'Korea, Republic of',
 'Kuwait',
 "Lao People's Democratic Republic",
 'Lebanon',
 'Liberia',
 'Libya',
 'Saint Lucia',
 'Liechtenstein',
 'Sri Lanka',
 'Lesotho',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Macao',
 'Saint Martin (French part)',
 'Morocco',
 'Monaco',
 'Moldova, Republic of',
 'Madagascar',
 'Maldives',
 'Mexico',
 'Marshall Islands',
 'North Macedonia',
 'Mali',
 'Malta',
 'Myanmar',
 'Montenegro',
 'Mongolia',
 'Northern Mariana Islands',
 'Mozambique',
 'Mauritania',
 'Montserrat',
 'Martinique',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'Mayotte',
 'Namibia',
 'New Caledonia',
 'Niger',
 'Norfolk Island',
 'Nigeria',
 'Nicaragua',
 'Niue',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'New Zealand',
 'Oman',
 'Pakistan',
 'Panama',
 'Pitcairn',
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'Puerto Rico',
 "Korea, Democratic People's Republic of",
 'Portugal',
 'Paraguay',
 'Palestine, State of',
 'French Polynesia',
 'Qatar',
 'Réunion',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'South Georgia and the South Sandwich Islands',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Svalbard and Jan Mayen',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'San Marino',
 'Somalia',
 'Saint Pierre and Miquelon',
 'Serbia',
 'South Sudan',
 'Sao Tome and Principe',
 'Suriname',
 'Slovakia',
 'Slovenia',
 'Sweden',
 'Eswatini',
 'Sint Maarten (Dutch part)',
 'Seychelles',
 'Syrian Arab Republic',
 'Turks and Caicos Islands',
 'Chad',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Tokelau',
 'Turkmenistan',
 'Timor-Leste',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Tuvalu',
 'Taiwan, Province of China',
 'Tanzania, United Republic of',
 'Uganda',
 'Ukraine',
 'United States Minor Outlying Islands',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'Holy See (Vatican City State)',
 'Saint Vincent and the Grenadines',
 'Venezuela, Bolivarian Republic of',
 'Virgin Islands, British',
 'Virgin Islands, U.S.',
 'Viet Nam',
 'Vanuatu',
 'Wallis and Futuna',
 'Samoa',
 'Yemen',
 'South Africa',
 'Zambia',
 'Zimbabwe']

### Creating a function to identify invalid country names

In [8]:
def country_name_check(input_country_list):
    invalid_countrynames =[]
    for j in input_country_list:
        if j not in (name):
            invalid_countrynames.append(j)
    invalid_countrynames = list(set(invalid_countrynames))
    return invalid_countrynames

## Clean, standardize, and organize nCOV19 data

In [9]:
print("This is the list of invalid names: ")

# run the country name check function to identify invalid country names/labels
country_name_check(nCov19_df.Country)

This is the list of invalid names:

['Taiwan',
 'US',
 'Macau',
 'Vietnam',
 'Others',
 'Mainland China',
 'UK',
 'Russia',
 'South Korea',
 'Ivory Coast']

In [10]:
# rename the invalid names to the standardize list
updated_nCov19_df = nCov19_df.replace({'Country': {"Russia": "Russian Federation", "Mainland China": "China",
                                                  "Macau":"Macao","Taiwan":"Taiwan, Province of China",
                                                  "Ivory Coast":"Côte d'Ivoire", "Vietnam":"Viet Nam",
                                                  "US":"United States", "UK":"United Kingdom",
                                                  "South Korea":"Korea, Republic of"}})

In [11]:
# running country name check function again to make sure names are correctly renamed/replaced
country_name_check(updated_nCov19_df.Country)

['Others']

In [12]:
# show larger dataframe
pd.set_option('display.max_rows', 500)

# perform a quick check on the country names
updated_nCov19_df.groupby(['Province/State','Country']).count()

                                                        Sno  Date  \
Province/State               Country
Anhui                        China                       27    27
Arizona                      United States                6     6
Bavaria                      Germany                      5     5
Beijing                      China                       27    27
Boston, MA                   United States               17    17
British Columbia             Canada                      21    21
California                   United States                6     6
Chicago                      United States                1     1
Chicago, IL                  United States               17    17
Chongqing                    China                       27    27
Cruise Ship                  Others                       2     2
Diamond Princess cruise ship Others                       9     9
Fujian                       China                       27    27
Gansu                        China                       27    27
Guangdong                    China                       27    27
Guangxi                      China                       27    27
Guizhou                      China                       27    27
Hainan                       China                       27    27
Hebei                        China                       27    27
Heilongjiang                 China                       27    27
Henan                        China                       27    27
Hong Kong                    China                        1     1
                             Hong Kong                   26    26
Hubei                        China                       27    27
Hunan                        China                       27    27
Illinois                     United States                7     7
Inner Mongolia               China                       27    27
Jiangsu                      China                       27    27
Jiangxi                      China                       27    27
Jilin                        China                       27    27
Liaoning                     China                       27    27
London, ON                   Canada                      15    15
Los Angeles, CA              United States               17    17
Macau                        China                        1     1
                             Macao                       26    26
Madison, WI                  United States               12    12
New South Wales              Australia                   22    22
Ningxia                      China                       27    27
Ontario                      Canada                       8     8
Orange, CA                   United States               17    17
Qinghai                      China                       27    27
Queensland                   Australia                   20    20
San Antonio, TX              United States                5     5
San Benito, CA               United States               15    15
San Diego County, CA         United States                7     7
Santa Clara, CA              United States               17    17
Seattle, WA                  United States               17    17
Shaanxi                      China                       27    27
Shandong                     China                       27    27
Shanghai                     China                       27    27
Shanxi                       China                       27    27
Sichuan                      China                       27    27
South Australia              Australia                   17    17
Taiwan                       China                        1     1
                             Taiwan, Province of China   26    26
Tempe, AZ                    United States               17    17
Tianjin                      China                       27    27
Tibet                        China                       22    22
Toronto, ON                  Canada                      15    15
Victoria                     Australia                   22    22
Washington                   United States               10    10
Xinjiang                     China                       27    27
Yunnan                       China                       27    27
Zhejiang                     China                       27    27

                                                        Last Update  \
Province/State               Country
Anhui                        China                               27
Arizona                      United States                        6
Bavaria                      Germany                              5
Beijing                      China                               27
Boston, MA                   United States                       17
British Columbia             Canada                              21
California                   United States                        6
Chicago                      United States                        1
Chicago, IL                  United States                       17
Chongqing                    China                               27
Cruise Ship                  Others                               2
Diamond Princess cruise ship Others                               9
Fujian                       China                               27
Gansu                        China                               27
Guangdong                    China                               27
Guangxi                      China                               27
Guizhou                      China                               27
Hainan                       China                               27
Hebei                        China                               27
Heilongjiang                 China                               27
Henan                        China                               27
Hong Kong                    China                                1
                             Hong Kong                           26
Hubei                        China                               27
Hunan                        China                               27
Illinois                     United States                        7
Inner Mongolia               China                               27
Jiangsu                      China                               27
Jiangxi                      China                               27
Jilin                        China                               27
Liaoning                     China                               27
London, ON                   Canada                              15
Los Angeles, CA              United States                       17
Macau                        China                                1
                             Macao                               26
Madison, WI                  United States                       12
New South Wales              Australia                           22
Ningxia                      China                               27
Ontario                      Canada                               8
Orange, CA                   United States                       17
Qinghai                      China                               27
Queensland                   Australia                           20
San Antonio, TX              United States                        5
San Benito, CA               United States                       15
San Diego County, CA         United States                        7
Santa Clara, CA              United States                       17
Seattle, WA                  United States                       17
Shaanxi                      China                               27
Shandong                     China                               27
Shanghai                     China                               27
Shanxi                       China                               27
Sichuan                      China                               27
South Australia              Australia                           17
Taiwan                       China                                1
                             Taiwan, Province of China           26
Tempe, AZ                    United States                       17
Tianjin                      China                               27
Tibet                        China                               22
Toronto, ON                  Canada                              15
Victoria                     Australia                           22
Washington                   United States                       10
Xinjiang                     China                               27
Yunnan                       China                               27
Zhejiang                     China                               27

                                                        Confirmed  Deaths  \
Province/State               Country
Anhui                        China                             27      27
Arizona                      United States                      6       6
Bavaria                      Germany                            5       5
Beijing                      China                             27      27
Boston, MA                   United States                     17      17
British Columbia             Canada                            21      21
California                   United States                      6       6
Chicago                      United States                      1       1
Chicago, IL                  United States                     17      17
Chongqing                    China                             27      27
Cruise Ship                  Others                             2       2
Diamond Princess cruise ship Others                             9       9
Fujian                       China                             27      27
Gansu                        China                             27      27
Guangdong                    China                             27      27
Guangxi                      China                             27      27
Guizhou                      China                             27      27
Hainan                       China                             27      27
Hebei                        China                             27      27
Heilongjiang                 China                             27      27
Henan                        China                             27      27
Hong Kong                    China                              1       1
                             Hong Kong                         26      26
Hubei                        China                             27      27
Hunan                        China                             27      27
Illinois                     United States                      7       7
Inner Mongolia               China                             27      27
Jiangsu                      China                             27      27
Jiangxi                      China                             27      27
Jilin                        China                             27      27
Liaoning                     China                             27      27
London, ON                   Canada                            15      15
Los Angeles, CA              United States                     17      17
Macau                        China                              1       1
                             Macao                             26      26
Madison, WI                  United States                     12      12
New South Wales              Australia                         22      22
Ningxia                      China                             27      27
Ontario                      Canada                             8       8
Orange, CA                   United States                     17      17
Qinghai                      China                             27      27
Queensland                   Australia                         20      20
San Antonio, TX              United States                      5       5
San Benito, CA               United States                     15      15
San Diego County, CA         United States                      7       7
Santa Clara, CA              United States                     17      17
Seattle, WA                  United States                     17      17
Shaanxi                      China                             27      27
Shandong                     China                             27      27
Shanghai                     China                             27      27
Shanxi                       China                             27      27
Sichuan                      China                             27      27
South Australia              Australia                         17      17
Taiwan                       China                              1       1
                             Taiwan, Province of China         26      26
Tempe, AZ                    United States                     17      17
Tianjin                      China                             27      27
Tibet                        China                             22      22
Toronto, ON                  Canada                            15      15
Victoria                     Australia                         22      22
Washington                   United States                     10      10
Xinjiang                     China                             27      27
Yunnan                       China                             27      27
Zhejiang                     China                             27      27

                                                        Recovered
Province/State               Country
Anhui                        China                             27
Arizona                      United States                      6
Bavaria                      Germany                            5
Beijing                      China                             27
Boston, MA                   United States                     17
British Columbia             Canada                            21
California                   United States                      6
Chicago                      United States                      1
Chicago, IL                  United States                     17
Chongqing                    China                             27
Cruise Ship                  Others                             2
Diamond Princess cruise ship Others                             9
Fujian                       China                             27
Gansu                        China                             27
Guangdong                    China                             27
Guangxi                      China                             27
Guizhou                      China                             27
Hainan                       China                             27
Hebei                        China                             27
Heilongjiang                 China                             27
Henan                        China                             27
Hong Kong                    China                              1
                             Hong Kong                         26
Hubei                        China                             27
Hunan                        China                             27
Illinois                     United States                      7
Inner Mongolia               China                             27
Jiangsu                      China                             27
Jiangxi                      China                             27
Jilin                        China                             27
Liaoning                     China                             27
London, ON                   Canada                            15
Los Angeles, CA              United States                     17
Macau                        China                              1
                             Macao                             26
Madison, WI                  United States                     12
New South Wales              Australia                         22
Ningxia                      China                             27
Ontario                      Canada                             8
Orange, CA                   United States                     17
Qinghai                      China                             27
Queensland                   Australia                         20
San Antonio, TX              United States                      5
San Benito, CA               United States                     15
San Diego County, CA         United States                      7
Santa Clara, CA              United States                     17
Seattle, WA                  United States                     17
Shaanxi                      China                             27
Shandong                     China                             27
Shanghai                     China                             27
Shanxi                       China                             27
Sichuan                      China                             27
South Australia              Australia                         17
Taiwan                       China                              1
                             Taiwan, Province of China         26
Tempe, AZ                    United States                     17
Tianjin                      China                             27
Tibet                        China                             22
Toronto, ON                  Canada                            15
Victoria                     Australia                         22
Washington                   United States                     10
Xinjiang                     China                             27
Yunnan                       China                             27
Zhejiang                     China                             27

In [13]:
# based on the quick check, Hong Kong, Macao and Taiwan and grouped into China in one instance each
# rename country of these instances to their respective countries

# Hong Kong
updated_nCov19_df.loc[updated_nCov19_df['Province/State'] == 'Hong Kong', 'Country'] = "Hong Kong"

# Macao
updated_nCov19_df.loc[updated_nCov19_df['Province/State'] == 'Macau', 'Country'] = "Macao"

# Taiwan
updated_nCov19_df.loc[updated_nCov19_df['Province/State'] == 'Taiwan', 'Country'] = "Taiwan, Province of China"

# perform a quick check on the country names
updated_nCov19_df.groupby(['Province/State','Country']).count()

,,Sno,Date,Last Update,Confirmed,Deaths,Recovered
Province/State,Country,,,,,,
Anhui,China,27,27,27,27,27,27
Arizona,United States,6,6,6,6,6,6
Bavaria,Germany,5,5,5,5,5,5
Beijing,China,27,27,27,27,27,27
"Boston, MA",United States,17,17,17,17,17,17
British Columbia,Canada,21,21,21,21,21,21
California,United States,6,6,6,6,6,6
Chicago,United States,1,1,1,1,1,1
"Chicago, IL",United States,17,17,17,17,17,17
Chongqing,China,27,27,27,27,27,27
Cruise Ship,Others,2,2,2,2,2,2
Diamond Princess cruise ship,Others,9,9,9,9,9,9
Fujian,China,27,27,27,27,27,27
Gansu,China,27,27,27,27,27,27
Guangdong,China,27,27,27,27,27,27
Guangxi,China,27,27,27,27,27,27
Guizhou,China,27,27,27,27,27,27
Hainan,China,27,27,27,27,27,27
Hebei,China,27,27,27,27,27,27
Heilongjiang,China,27,27,27,27,27,27
Henan,China,27,27,27,27,27,27
Hong Kong,Hong Kong,27,27,27,27,27,27
Hubei,China,27,27,27,27,27,27
Hunan,China,27,27,27,27,27,27
Illinois,United States,7,7,7,7,7,7
Inner Mongolia,China,27,27,27,27,27,27
Jiangsu,China,27,27,27,27,27,27
Jiangxi,China,27,27,27,27,27,27
Jilin,China,27,27,27,27,27,27
Liaoning,China,27,27,27,27,27,27
"London, ON",Canada,15,15,15,15,15,15
"Los Angeles, CA",United States,17,17,17,17,17,17
Macau,Macao,27,27,27,27,27,27
"Madison, WI",United States,12,12,12,12,12,12
New South Wales,Australia,22,22,22,22,22,22
Ningxia,China,27,27,27,27,27,27
Ontario,Canada,8,8,8,8,8,8
"Orange, CA",United States,17,17,17,17,17,17
Qinghai,China,27,27,27,27,27,27
Queensland,Australia,20,20,20,20,20,20
"San Antonio, TX",United States,5,5,5,5,5,5
"San Benito, CA",United States,15,15,15,15,15,15
"San Diego County, CA",United States,7,7,7,7,7,7
"Santa Clara, CA",United States,17,17,17,17,17,17
"Seattle, WA",United States,17,17,17,17,17,17
Shaanxi,China,27,27,27,27,27,27
Shandong,China,27,27,27,27,27,27
Shanghai,China,27,27,27,27,27,27
Shanxi,China,27,27,27,27,27,27
Sichuan,China,27,27,27,27,27,27
South Australia,Australia,17,17,17,17,17,17
Taiwan,"Taiwan, Province of China",27,27,27,27,27,27
"Tempe, AZ",United States,17,17,17,17,17,17
Tianjin,China,27,27,27,27,27,27
Tibet,China,22,22,22,22,22,22
"Toronto, ON",Canada,15,15,15,15,15,15
Victoria,Australia,22,22,22,22,22,22
Washington,United States,10,10,10,10,10,10
Xinjiang,China,27,27,27,27,27,27
Yunnan,China,27,27,27,27,27,27
Zhejiang,China,27,27,27,27,27,27

In [14]:
# copy dataframe
nCov19_df_subset = updated_nCov19_df[['Country', 'Date', 'Confirmed', 'Deaths', 'Recovered']].copy()

# aggregate and sum the number of confirmed cases, deaths, and recoveries
nCov19_df_subset = nCov19_df_subset.groupby(['Country','Date']).sum()
nCov19_df_subset.reset_index(inplace = True)

In [15]:
# aggregate by country and get the last value
nCov19_df_subset = nCov19_df_subset.sort_values(by=['Country','Date'])
final_nCov19_df = nCov19_df_subset.groupby('Country').last()
final_nCov19_df.reset_index(inplace = True)

# remove date column
final_nCov19_df = final_nCov19_df.drop(columns='Date')

# rename columns
final_nCov19_df = final_nCov19_df.rename(columns = {'Country':'country',
                                                    'Confirmed':'confirmed_ncov','Deaths':'deaths_ncov',
                                                    'Recovered':'recovered_ncov'})
final_nCov19_df.head()

     country  confirmed_ncov  deaths_ncov  recovered_ncov
0  Australia            15.0          0.0            10.0
1    Belgium             1.0          0.0             1.0
2     Brazil             0.0          0.0             0.0
3   Cambodia             1.0          0.0             1.0
4     Canada             8.0          0.0             1.0

## Clean, standardize, and organize SARS outbreak data

In [16]:
print("This is the list of invalid names: ")

# run the country name check function to identify invalid country names/labels
country_name_check(sars03_df.country)

This is the list of invalid names:

['Republic of Ireland',
 'Macao SAR, China',
 'Taiwan, China',
 'Hong Kong SAR, China',
 'Republic of Korea']

In [17]:
# rename the invalid names to the standardize list
updated_sars03_df = sars03_df.replace({'country': {'Taiwan, China':'Taiwan, Province of China',
                                                  'Macao SAR, China':'Macao',
                                                  'Hong Kong SAR, China':'Hong Kong',
                                                  'Republic of Ireland':'Ireland',
                                                  'Republic of Korea':'Korea, Republic of'}})

In [18]:
# running country name check function again to make sure names are correctly renamed/replaced
country_name_check(updated_sars03_df.country)

[]

In [19]:
# perform a quick check on the country names
updated_sars03_df.groupby('country').count()

                           Date  confirmed_sars  death_sars  recovered_sars
country
Australia                    17              17          17              17
Belgium                       5               5           5               5
Brazil                       81              81          81              81
Bulgaria                     20              20          20              20
Canada                       96              96          96              96
China                        96              96          96              96
Colombia                     53              53          53              53
Finland                      51              51          51              51
France                       90              90          90              90
Germany                      96              96          96              96
Hong Kong                    96              96          96              96
India                        64              64          64              64
Indonesia                    72              72          72              72
Ireland                      92              92          92              92
Italy                        92              92          92              92
Japan                        19              19          19              19
Korea, Republic of           59              59          59              59
Kuwait                       75              75          75              75
Macao                        58              58          58              58
Malaysia                     79              79          79              79
Mongolia                     69              69          69              69
New Zealand                  56              56          56              56
Philippines                  72              72          72              72
Poland                       10              10          10              10
Romania                      87              87          87              87
Russian Federation           31              31          31              31
Singapore                    96              96          96              96
Slovenia                      5               5           5               5
South Africa                 74              74          74              74
Spain                        86              86          86              86
Sweden                       72              72          72              72
Switzerland                  94              94          94              94
Taiwan, Province of China    95              95          95              95
Thailand                     96              96          96              96
United Kingdom               95              95          95              95
United States                94              94          94              94
Viet Nam                     95              95          95              95

In [20]:
# aggregate and sum the number of confirmed cases, deaths, and recoveries
aggregate_by_date_sars03 = updated_sars03_df.groupby(['Date','country']).sum().reset_index('country')
aggregate_by_date_sars03

,country,confirmed_sars,death_sars,recovered_sars
Date,,,,
2003-03-17,Canada,8,2,0
2003-03-17,Germany,1,0,0
2003-03-17,Hong Kong,95,1,0
2003-03-17,Singapore,20,0,0
2003-03-17,Switzerland,2,0,0
...,...,...,...,...
2003-07-11,"Taiwan, Province of China",671,84,507
2003-07-11,Thailand,9,2,7
2003-07-11,United Kingdom,4,0,4
2003-07-11,United States,75,0,67
2003-07-11,Viet Nam,63,5,58

In [21]:
# find the last date in the DataFrame.
index_date_sars03 = aggregate_by_date_sars03.reset_index()
last_date_sars03 = index_date_sars03['Date'].max()

# filter DataFrame by the last date in the 'Date' column.
final_table_sars03 = aggregate_by_date_sars03.loc[last_date_sars03].reset_index()\
                                                                    .drop(['Date'], axis=1)\
                                                                    .sort_values(['country'], ascending=True)

# Load data

In [22]:
# create connection
rds_connection_string = f"{username}:{password}@localhost:5432/sars_ncov19_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [23]:
# check for tables
engine.table_names()

['sars03_data', 'ncov19_data']

In [24]:
# Load nCov19 dataframe into database
final_nCov19_df.to_sql(name='ncov19_data', con=engine, if_exists='append', index=False)

# Confirm data has been added by querying the nCOV19 table
pd.read_sql_query('select * from ncov19_data', con=engine).head()

     country  confirmed_ncov  deaths_ncov  recovered_ncov
0  Australia              15            0              10
1    Belgium               1            0               1
2     Brazil               0            0               0
3   Cambodia               1            0               1
4     Canada               8            0               1

In [25]:
# Load SARS outbreak dataframe into database
final_table_sars03.to_sql(name='sars03_data', con=engine, if_exists='append', index=False)

# Confirm data has been added by querying the SARS outbreak table
pd.read_sql_query('select * from sars03_data', con=engine).head()

    country  confirmed_sars  death_sars  recovered_sars
0    Brazil               1           0               1
1    Canada             250          38             194
2     China            5327         348            4941
3  Colombia               1           0               1
4   Finland               1           0               1